#!/bin/sh

#
# chkconfig: 35 99 99
# description: For the puma app in <%= @working_dir %>

# load some init.d helper functions
. /etc/rc.d/init.d/functions

APPNAME="<%= @name %>"
APP_DIR="<%= @directory %>"
USERNAME="<%= @owner %>"

PUMA_DIR="$APP_DIR/shared/puma"
PIDFILE="$APP_DIR/shared/pids/$APPNAME.pid"
START="$PUMA_DIR/puma_start.sh"
STOP="$PUMA_DIR/puma_stop.sh"
RESTART="$PUMA_DIR/puma_restart.sh"

start() {
  daemon --user $USERNAME --pidfile $PIDFILE $START && success || failure
}

stop() {
  $STOP
}

restart() {
  $RESTART
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart)
    restart
    ;;
  hard-restart)
    stop
    start
    ;;
  *)
    echo "Usage: $0 {start|stop|restart|hard-restart}"
    exit 2
esac

exit $?