#!/usr/bin/env puma

# The directory to operate out of.
directory "<%= @working_dir %>"

# Use a object or block as the rack application. This allows the
# config file to be the application itself.
#
# app do |env|
#   puts env
#   body = 'Hello, World!'
#   [200, { 'Content-Type' => 'text/plain', 'Content-Length' => body.length.to_s }, [body]]
# end
<%= @app if @app %>

# Load "path" as a rackup file.
# The default is "config.ru".
# rackup '/u/apps/lolcat/config.ru'
<% if @rackup %>
rackup "<%= @rackup %>"
<% end %>

<% if @preload_app %>
  preload_app!
<% end %>

prune_bundler <%= @prune_bundler %>
# Set the environment in which the rack's app will run. The value must be a string.
# The default is "development".
environment "<%= @environment %>"

# Daemonize the server into the background. Highly suggest that
# this be combined with "pidfile" and "stdout_redirect".
#
# The default is "false".
#
# daemonize
daemonize <%= @daemonize %>

# Store the pid of the server in the file at "path".
# pidfile '/u/apps/lolcat/tmp/pids/puma.pid'
pidfile  "<%= @pidfile %>"

# Use "path" as the file to store the server info state. This is
# used by "pumactl" to query and control the server.
# state_path '/u/apps/lolcat/tmp/pids/puma.state'
state_path "<%= @state_path %>"

# Redirect STDOUT and STDERR to files specified. The 3rd parameter
# ("append") specifies whether the output is appended, the default is
# "false".
# stdout_redirect '/u/apps/lolcat/log/stdout', '/u/apps/lolcat/log/stderr'
# stdout_redirect '/u/apps/lolcat/log/stdout', '/u/apps/lolcat/log/stderr', true
stdout_redirect '<%= @stdout_redirect %>', '<%= @stderr_redirect %>', <%= @output_append %>


# Disable request logging.
# The default is "false".
<% if @quiet %>
quiet
<% end %>

# Configure "min" to be the minimum number of threads to use to answer
# requests and "max" the maximum.
# The default is "0, 16".
threads <%= @thread_min %>, <%= @thread_max %>

# Bind the server to "url". "tcp://", "unix://" and "ssl://" are the only
# accepted protocols.
# The default is "tcp://0.0.0.0:9292".
# bind 'tcp://0.0.0.0:9292'
# bind 'unix:///var/run/puma.sock'
# bind 'unix:///var/run/puma.sock?umask=0777'
# bind 'ssl://127.0.0.1:9292?key=path_to_key&cert=path_to_cert'
bind "<%= @bind %>"

# Instead of "bind 'ssl://127.0.0.1:9292?key=path_to_key&cert=path_to_cert'" you
# can also use the "ssl_bind" option.
# ssl_bind '127.0.0.1', '9292', { key: path_to_key, cert: path_to_cert }

# Code to run before doing a restart. This code should
# close log files, database connections, etc.
#
# This can be called multiple times to add code each time.
#
# on_restart do
#   puts 'On restart...'
# end

# Command to use to restart puma. This should be just how to
# load puma itself (ie. 'ruby -Ilib bin/puma'), not the arguments
# to puma, as those are the same as the original process.
#
# restart_command '/u/app/lolcat/bin/restart_puma'

# === Cluster mode ===
# How many worker processes to run.
# The default is "0".
workers <%= @workers %>

# Change the default timeout of worker startup
# The default is 60
worker_timeout <%= @worker_timeout %>

# Code to run when a worker boots to setup the process before booting
# the app.
#
# This can be called multiple times to add hooks.
#
# on_worker_boot do
#   puts 'On worker boot...'
# end
<% if @on_worker_boot %>
on_worker_boot do
  <%= @on_worker_boot %>
end
<% end %>

# === Puma control rack application ===

# Start the puma control rack application on "url". This application can
# be communicated with to control the main server. Additionally, you can
# provide an authentication token, so all requests to the control server
# will need to include that token as a query parameter. This allows for
# simple authentication.
#
# Check out https://github.com/puma/puma/blob/master/lib/puma/app/status.rb
# to see what the app has available.
#
# activate_control_app 'unix:///var/run/pumactl.sock'
# activate_control_app 'unix:///var/run/pumactl.sock', { auth_token: '12345' }
# activate_control_app 'unix:///var/run/pumactl.sock', { no_token: true }
<% if @activate_control_app %>
activate_control_app "<%= @control_app_bind %>"
<%- end %>