#!/usr/bin/env bash
. /etc/rc.d/init.d/functions

PATH=/usr/local/bin:$PATH

APPNAME="<%= @name %>"

echo -n "Starting $APPNAME.."
<%= @init_command %>cd <%= @working_dir %> && <%= @exec_prefix %> <%= @bin_path %> -C <%= @config_path %>